@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@import 'tailwindcss';
@import './cattleya-ui.css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: #efe2e8;
  --main: #efe2e8;
  --dotted: #bd5b85;
  --primary: #2f0619;
  --foreground: #2e2e30;
  --shiki-theme: var(--shiki--light);
  --shiki--light: var(--shiki-theme,);
  --shiki--dark: var(--shiki-theme,);
  --scrollbar: #bd5b85;
  --shiki-theme: var(--shiki--light);
}

.dark {
  --background: #000000;
  --main: #2e2e30;
  --dotted: #2e2e30;
  --primary: #efe2e8;
  --foreground: #efe2e8;
  --shiki-theme: var(--shiki--dark);
  --shiki--light: var(--shiki-theme,);
  --shiki--dark: var(--shiki-theme,);
  --scrollbar: #2e2e30;
  --shiki-theme: var(--shiki--dark);
}

@theme inline {
  --color-background: var(--background);
  --color-background-muted: #2e2e30;
  --color-main: var(--main);
  --color-secondary: #bd5b85;
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --color-muted: #2e2e30;
  --font-sans: 'Geist', sans-serif;

  --animate-spotlight: spotlight 2s ease 1 forwards;

  @keyframes spotlight {
    0% {
      opacity: 0;
      transform: translate(-72%, -62%) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -40%) scale(1);
    }
  }
}

@layer base {
  html,
  body {
    @apply font-sans;
  }

  img,
  button {
    @apply select-none font-sans;
  }

  ::selection {
    @apply bg-neutral-400/20;
  }

  .top-dotted {
    @apply [background-image:linear-gradient(90deg,var(--dotted)_25%,transparent_25%)] [background-repeat:repeat-x] [background-size:4px_1px];
  }

  .bottom-dotted {
    @apply [background-image:linear-gradient(90deg,var(--dotted)_25%,transparent_25%)] [background-repeat:repeat-x] [background-size:4px_1px] [background-position:bottom];
  }

  .right-dotted {
    @apply [background-image:linear-gradient(0deg,var(--dotted)_25%,transparent_25%)] [background-position:100%] [background-repeat:repeat-y] [background-size:1px_4px];
  }
}

* {
  font-family: 'Geist', sans-serif;
  font-variant-ligatures: none;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) transparent;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-family: 'Geist', sans-serif;
}

button {
  cursor: pointer;
}

body {
  @apply bg-background;
}
